
{% extends 'head2_tail2.html' %}

{% block Cyber_attacks %}

<!-- <html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:900px;background-color: white;background-repeat:no-repeat;background-position:center;background-size:cover;"> -->

<center>

<H2 style="color:black;"><br>DIFFERENT TYPES OF CYBER ATTACKS NOW EXISTS IN WORLD WIDE</style></H2>
    
<center>
 <div style="width:1170px;height:770px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

            <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/dos.png" width="370px" height="250px"><br>
                
            </div>

                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/MITM-FB-en-990x518.png" width="370px" height="250px">
                
                </div>

                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/phishing_en.png" width="370px" height="250px">
                
                </div>
                
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
            
                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/keylogger_en.png" width="370px" height="250px">
                
                </div>

                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/exploit.png" width="370px" height="250px">
                
                </div>

                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/adware_pc.png" width="370px" height="250px">
                
                </div>
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            
                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/164069104-bitdefender-wallpapers.png" width="370px" height="250px">
                
                </div>

                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/ransomware.png" width="370px" height="250px">
                
                </div>

                <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
        
                <a href="#"><img src="/static/cyberattacks/abc.png" width="370px" height="250px">
                
                </div>

</center>

</div>
<center>
<!-- 
</center></body>
</html> -->

{% endblock %}