
{% extends 'head2_tail2.html' %}

{% block ddos %}
<!-- 
<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;"> -->

<br><br>
<center>

<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>DDOS - DISTRIBUTED DENIAL OF SERVICE ATTACK</style></H2>
    
    <center>

  <div style="width:80%;height:800px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

          <p style="color:black;"><B>Handshakes have been a sign of friendship since forever. We shake hands so 
          often throughout the day that we lose track of how many people we’ve greeted. But what if none of the 
          people we shake hands with would actually let go of your hand? You’d run out of hands.
In computing this is known as a Denial of Service (DoS) attack meaning that a hacker is flooding your website with
 fake traffic so it is unable to accommodate  people that want to legitimately visit it. Attacks on software 
 applications could stall them or crash them completely. Once the hacker manages to leverage a DoS attack, the 
 site will not be able to process all requests and will show an error message to genuine visitors. Consequently
  you will lose customers and your search engine optimization efforts will also be affected.
This is also the case with Distributed Denial of Service (DDoS) attacks launched through botnets from multiple 
computers in various locations to use up bandwidth, flood the website with requests or make the system unavailable.
 The botnets are connected devices corrupted with malware that allows the hacker to control the computer remotely.
  As of 2015, researchers have pointed out changes in hacker methodology and an increase in DDoS attacks of up 
  to 400Gbit/s by using traffic amplification mechanisms.
The reasons behind these attacks could be blackmail, revenge, extortion, vandalism or hacktivism, as in the case 
of Anonymous.
All websites are exposed to such attacks, from news sites to banks, insurance companies or high profile enterprises. 
Unlike phishing attacks, DoS attacks are not very complex and are usually carried out by script kiddies or highly 
experienced botmasters that can rally up a significant number of infected computers.
Script kiddies are internet hooligans, not software engineers, who purchase software created by advanced 
programmers to scan a computer for vulnerabilities.

      </B></p>
          
      <h1 style="color:black"><B>Not all DDoS attacks are malicious</B></h1>


 <p style="color:black;"><B>Sometimes, your website or blog might get in the spotlight for a brief period of time.
  Legitimate users wishing to get to your front page might fill up the serving capabilities of your 
  web application and render it inoperable. This issue typically affects small and medium-size online stores 
  during consecrated shopping sprees like Black Friday or Cyber Monday when a large number of customers try 
  to secure some products at discount prices. It is recommended that system administrators plan for these 
  events and temporarily scale up their infrastructure to be able to accommodate large amounts of customers in 
  a 24 hour period of time.

      </B></p>

<h1 style="color:black"><B>How to tell if you’re a victim of DoS</B></h1>


 <p style="color:black;"><B>As expected, if the victim is not tech-savvy it might be difficult to immediately 
 detect the attack or do something about it on their own.
Some basic steps you can follow are to first check if your website slow. If it’s taking longer than usual to 
run you can start scanning your computer and also check log files. Users know they are dealing with a DoS attack 
when the website reads ‘service unavailable’.
Because they are usually launched from multiple locations, DDoS attacks can’t be stopped only by cutting off one 
IP address. The wisest thing to do is to immediately take care of the problem and contact your Internet Service
 Provider for assistance. Alternatively, you can design your infrastructure with load balancing in mind to be 
 able to briefly accommodate a much larger number of visitors than your site usually experiences.


      </B></p>


          <!--<h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>

                -->




</center>

</div>

</center>
<!-- </div>

</center></body>
</html> -->

{% endblock %}