

{% extends 'head2_tail2.html' %}

{% block Inbox_empty %}
<!-- 
<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:650px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;"> -->

<br><br>
<center>

<div style="width:70%;height:550px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>YOUR INBOX IS EMPTY</style></H2>
    
    <center>

  <div style="width:50%;height:400px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">
<br>

  <!--<img src="/static/gifs/handshake1.gif" width="100%" height="90%">    --> 


</div>
</center>

</div>

</center>
<!-- </div>

</center></body>
</html> -->

{% endblock %}