
{% extends 'head2_tail2.html' %}

{% block notifications %}

<html>
<body>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg1.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:870px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<br><H1 style="color:black;">We got some Notifications for You..!</style></H1>
    
    <center>
      
    <div style="width:80%;height:600px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

     
    </div>

   </center>

   
</div>

</center>
</div>

</body>
</html>

{% endblock %}