<html>
<body>
<div class="wrapper" style="background-image: url(\\static\\bg-01.jpg);">


           
             <center>
        <br><div style="width: 95%;height: 985px;background-color: green">
         <center>    
            <div style="width: 30%;height:978px;background-color: white;float: left;">
                   
                    <center> 
                    <table> 
                  
    <br>
    <tr>
         <td>CREATE PROFILE<br/><a href="staff_profile.jsp?%>&type=welcome" >
            
              <img src="image/create profile.jpg" alt="" width="150" height="150" border="0"></a></td>
         
    </tr>

     <tr>
        
          <td>EMPLOYEE STRENGTH<br/><a href="staff_list.jsp?%>&type=welcome" >
        
              <img src="image/grp.jpg" alt="" width="150" height="150" border="0"></a></td>
              
    </tr>
 
    
    <tr>
         <td>UPLOAD PRODUCTS<br/><a href="staff_add_opticals.jsp?%>&type=welcome" >       
             
             <img src="image/upload_pdts_1.jpg" alt="" width="150" height="150" border="0"></a></td>
    </tr>
   
    <tr>
         <td>ORDERS & DELIVERY<br/><a href="admin_order_view.jsp?%>&type=welcome" >
        
             <img src="image/orders_1.jpg" alt="" width="150" height="150" border="0"></a></td>
   </tr>
   
     <tr>
         <td>VIEW FEEDBACK<br/><a href="admin_cus_feedback.jsp?%>&type=welcome" >
        
             <img src="image/user_fb.jpg" alt="" width="150" height="150" border="0"></a></td>
             
   </tr>
 
   
   
                    
     </table>
         
    </center>             
                
                </div>
             
             
                <div style="width: 70%;height:978px;background-color: #C0BEBE;float: left;">
                
                     <center>
                    
                       <br><br><br>
                      
                        <img src="image/ss.png" alt="" width="850" height="150" border="0"> 
                    
                       <br><br>
                        
                      <br><img src="image/staff_home.jpg" alt="" width="850" height="600" border="0"></br> 
                    
                    </center>
                </div>
        
         </center>
        </div>
             </center> 
         </div>
         </body>
         </html>