

{% extends 'head2_tail2.html' %}

{% block threat_findings %}

<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:650px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:550px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">


        <div style="width:25%;height:550px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">
          <br><br><br><br><br><br>

          <img src="static/gifs/lamp_animation.gif" alt="" width="400" height="300" border="0">

        </div>


<div style="width:75%;height:550px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">

 <center>

<H2 style="color:black;"><br>Mined contents of your file
<img src="/static/icons/mining.jpg" width="70px" height="70px">
</style></H2>
    
    <center>

    <form method=GET style="width:90%;padding:30px;">
  
   
        <table style="color:black;margin-right:60px;" class="table">
      <center>
        <tr><th>FILE NAME</th><th>ATTACK</th><th>RANK</th></tr>
        <tr>
    
        {% for d in data %}

        <tr>
        <td>{{d.0}}</td>
        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <td><a href="../attack_defining?file_id={{d.0}}"><img src="/static/new/open.jpg" width="100px" height="30px"></a></td>
        
        </tr>
        {% endfor %}
     
      </center> </table>
   
   
    </form>  
        
</div>
  
</div>

</center>
</div>

</center></body>
</html>

{% endblock %}