
{% extends 'head2_tail2.html' %}

{% block user_home %}



<!-- <div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br> -->

<center>
<!-- 
<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">


    
    <div style="width:40%;height:800px;background-color: white;float:left;padding:20px;background-position:center;background-repeat:no-repeat;">

<center><br>
<div style="width:99%;height:700px;background-color: white;float:left;padding:20px;background-position:center;background-repeat:no-repeat;">

  
    <div style="width:50%;height:210px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">
 
       <h4>YOUR PROFILE</h4>
       
       <a href="/user_edit_profile"><img src="/static/new/uprof.jpg" width="160px" height="140px"></a>
      
    
    </div>

    <div style="width:50%;height:210px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">
 
         <h4>FILE SHARE</h4>
       
       <a href="/file_sharing"><img src="/static/gifs/sendmail.gif" width="160px" height="140px"></a>
      
    </div>

    <div style="width:50%;height:210px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">
 
         <h4>FILE INBOX</h4>
       
       <a href="/file_inbox"><img src="/static/gifs/ddd.gif" width="160px" height="140px"></a>
      
    </div>

    <div style="width:50%;height:210px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">
      
         <h4>ABOUT CYBER ATTACKS</h4>
       
       <a href="/Cyber_attacks"><img src="/static/gifs/attacker.gif" width="160px" height="140px"></a>
      
    </div> -->

<!--
    <div style="width:50%;height:220px;background-color:white;float:left;background-position:center;background-repeat:no-repeat;">
 
          <h4>SECURITY NOTIFICATIONS</h4>
       
       <a href="notifications"><img src="/static/new/notify.jpg" width="140px" height="140px"></a>
      
    </div> -->

    


<br><br><br>

</div>

<div style="padding-left:500px; width:100%;height:800px;background-color: white;float:left;background-position:center;background-repeat:no-repeat;">

<img style="margin-left:-150px; margin-top:-150px;" src="static/gifs/airobo.gif" alt="" width="500" height="500" border="0">


</div>

</div>
</center>
<!-- </div> -->


{% endblock %}
