<html>
<body>

<div style="width:97%;margin:(0px,0px);padding:0px; height:650px;background-image: url(\\static\\bg1.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:550px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<H1 style="color:black;">Your new Profile is Ready
<font color="white">..</font><img src="/static/new/editme.jpg" width="70px" height="70px">
   
</div>

</center>
</div>

</body>
</html>